@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  ;
}

html,
body {
  background-color: #181c22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tox-tinymce {
  height: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;

}
.tox-editor-header {
  padding: 0px !important;
}





.rmsc .dropdown-container {
  color: #22262e !important;
}

.dropdown-heading-value {
  color: white !important;
}

@layer utilities {
  .square {
    width: 50%;
    padding-bottom: 50%;
    background-color: teal;
  }
}
