@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #181c22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  display: none;
}

.tox-tinymce {
  height: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
}
.tox-editor-header {
  padding: 0px !important;
}

br {
  display: none !important;
}

@layer utilities {
  .my-header h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .my-header h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  .my-header h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .my-header h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .my-header h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .my-header h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .my-links a {
    text-decoration: underline;
  }

  .my-links a:visited {
    color: purple;
    cursor: pointer;
  }

  .my-links a:active {
    color: red;
  }

  .my-table table {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
  }

  .my-tbody tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .my-thead thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  .my-th th {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 0.4rem;
  }

  .my-tr tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  .my-td td {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 0.4rem;
  }

  .my-ul ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
}
