@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgba(128, 128, 128, 0.3);
  min-height: 100vh !important;
}



.tox-tinymce {
  height: 100% !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
}

.tox-editor-header {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}



@layer utilities {
  .square {
    width: 50%;
    padding-bottom: 50%;
    background-color: teal;
  }
}


